<body data-spy="scroll" data-target=".navbar-fixed-top" id="page-top">
<!-- Intro Header -->
  <div class="intro">
    <div class="intro-body">
      <div class="container">
          <%= image_tag("logo.png",class:"logo") %>
        </div>
        <a class=" animated page-scroll" href="#donate"><h1 class="brand-heading donate ">Donate Now</h1></a>
        <a class=" animated page-scroll" href="#donate">
          <h1 class="total_in_pounds">£<%= @total_in_pounds %></h1>
          <h2 class="stripe-c-h2">Raised From</h2>
          <h1><%= @donation_count %>
            <% if @donation_count == 1%>
            person
            <% else %>
            People
            <% end %>
          </h1>
        </a>
        <a class=" animated page-scroll" href="https://www.facebook.com/British-Georgian-Society-198904806227/photos/?tab=album&album_id=10154263709391228">
          <h2 class="stripe-c-h2">Artwork & Vouchers for sale</h2>
        </a>
        <a class="btn btn-circle page-scroll" href="#donate">
          <i class="fa fa-gbp animated"></i>
        </a>
    </div>
  </div>
<!-- About Section -->
  <section class="container content-section text-center" id="about">
    <div class="">
      <div class="col-lg-8 col-lg-offset-2">
        <h1>British Georgian Society (BGS)</h1>
        <h2>Annual Charity Festival</h2>
        <p>
          British Georgia Society Annual Charity Festival hosted by Tamada Restaurant invites Londoners to a day of good food and great wine, affordable art and crafts as well as entertainment for kids and adults.
        </p>
        <%= image_tag("banner.jpg",class:"logo") %>

        <p></p>
        <p></p>
      </div>
    </div>
  </section>
  <section class=" text-center" id="donate">
    <div class="overlay">
      <div class="download-section">
        <div class="container">
          <div class="col-lg-8 col-lg-offset-2">
            <h1 class="">How you can help?</h1>
            <h3>Donate</h3>
            <p>
              Join us and raise money in support of children in need!
            </p>
            <%= render 'layouts/stripe' %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="content-section text-center" id="contact">
    <div class="">
      <div id="charity-event">
        <h1 class="charity-e-title">Charity Event @
          <a href="http://www.tamada.co.uk/">Tamada</a></h2>
        <h2>25th June 2017</h2>
        <h4>14:00 - 20:00</h4>
        <h4>What’s on the menu:</h4>
        <p class="charity-content">
            home-made cakes, freshly baked Khachapuri (traditional Georgian dish of cheese bread) and Mtsvadi (barbecued meat) a variety of vegetarian mezes and… of course wine from Georgia
        </p>

        <h4>What’s on the agenda:</h4>
        <p class="charity-content">
          Face-painting, DIY cupcakes and other entertainment for kids; Music, songs and dances throughout the day; Stalls of arts, crafts and souvenirs from Georgian photographers, artists and designers; Backgammon tournament, tombola, auction and surprise challenges for those who want to have fun and help to raise much needed funds.
          Just pop by on the day, bring your friends and family.
        </p>

        <h4>How can you help:</h4>
        <p class="charity-content">
            Separate stalls will be raising money for different causes, choose which cause is closer to your heart.
        </p>
        <h4 id="artwork-vouchers">Artwork/Vouchers</h4>
        <p class="charity-content">
          You can also buy paintings, photos and experience vouchers. More details are available on <a href="https://www.facebook.com/British-Georgian-Society-198904806227/photos/?tab=album&album_id=10154263709391228">facebook</a>
        </p>
            <ul class="list-inline banner-social-buttons">
              <li>
                <a class="btn btn-default btn-lg" href="tel:+442073722882">
                  <i class="fa fa-phone fa-fw"></i>
                  <span class="network-name">Call Us</span></a>
              </li>
              <li>
                <a class="btn btn-default btn-lg" href="https://www.facebook.com/tamada.authenticgeorgiancuisine?ref=ts&fref=ts">
                  <i class="fa fa-facebook fa-fw"></i>
                  <span class="network-name">Facebook</span></a>
              </li>
              <li>
                <a class="btn btn-default btn-lg" href="mailto:info@tamada.co.uk">
                  <i class="fa fa-envelope-o fa-fw"></i>
                  <span class="network-name">Bookings</span></a>
              </li>
            </ul>
            <a href="https://www.google.co.uk/maps/dir//Tamada,+122+Boundary+Road,+London+NW8+0RH,+United+Kingdom/@51.537183,-0.2542532,12z/data=!4m9!4m8!1m0!1m5!1m1!1s0x48761a9f9f5ea53d:0x9b0b097fe2b35a86!2m2!1d-0.185587!2d51.537203!3e0">
              <p class="address">
                Tamada Restaurant
                <br>
                  122 Boundary Road
                  <br>
                    NW8 0RH, London
                    <br>
                      United Kingdom
                    </p>
                  </a>
                </div>
                <div id="map"></div>
              </div>
            </section>
          </body>
