<!DOCTYPE html>
<html>
<head>
  <title>Tamada Fund - Tbilisi Flood</title>
  <meta name="description" content="Donate money to charity for the floods in tbilisi zoo. Help save the hippo's,bears and other animals." />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript"
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA13CVZWFpG52bqbzsTEoLpRx43uWQEaN0">
</script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => ENV['STRIPE_PUBLISHABLE_KEY'] %>
  <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
</head>
<body>
<%= render 'layouts/header' %>

<%= yield %>

</body>
</html>
